body {
  font-family: Arial, sans-serif;
  background: black;
  color: #fff;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
}

.container {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

input {
  padding: 10px;
  width: 60%;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
}

.erro {
  height: 20px;
  color: #ff4d4d;
}
.midia {
  margin: 20px 0;
}

.midia img {
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
}


.enigma1-texto{
  color: rgb(10, 10, 10);
  font-size: 32px;
  
}

.texto-enigma img {
  display: block;
  margin: 20px auto;     /* centraliza */
  max-width: 420px;      /* controla o tamanho */
  width: 100%;           /* responsivo */
  height: auto;
  border-radius: 8px;    /* opcional, fica mais bonito */
}

.texto-enigma {
  display: block;
  margin: 50px auto;  
  font-size: 25px;  

}

.escute {
  font-size: 50px ;
  letter-spacing: 10px;
  margin: 40px 0;
}

audio {
  margin: 20px;
}

.laele{
  font-size: 25px;
}

.resposta input {
  width: 100%;
  max-width: 100%;
  font-size: 1.3rem;
  padding: 18px;
}

@media (max-width: 768px) {
  .resposta input {
    font-size: 1.4rem;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .resposta input {
    font-size: 1.5rem;
    padding: 22px;
  }
}

@media (max-width: 360px) {
  .resposta input {
    font-size: 1.6rem;
    padding: 24px;
  }
}